body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    margin: 0;
}

#navbar {
    width: 200px;
    background-color: #f4f4f4;
    padding: 10px;
    position: fixed;
    height: 100%;
    overflow: auto;
}

#navbar header {
    font-size: 1.5em;
    margin-bottom: 20px;
}

#navbar .nav-link {
    display: block;
    padding: 10px;
    margin: 5px 0;
    text-decoration: none;
    color: #333;
}

#navbar .nav-link:hover {
    background-color: #ddd;
}

#main-doc {
    margin-left: 220px;
    padding: 20px;
    flex: 1;
}

.main-section {
    margin-bottom: 40px;
}

.main-section header {
    font-size: 1.5em;
    margin-bottom: 10px;
    
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    #navbar {
        width: 100%;
        position: relative;
        height: auto;
    }
    #main-doc {
        margin-left: 0;
    }
}
